<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Destroy the target VPC</description>
  <displayName>5. ECS-VPC-Destroyer-DEV</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# export AWS_PROFILE=epcc1
aws cloudformation delete-stack --stack-name EP-Storefront-ECS-VPC-DEV-Head</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>